.wbutton-group{
    position: relative;
    top: 20%;
    padding: 0px 20px 0px 20px;

    &__wrapper {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        column-gap: 50px;
        row-gap: 50px;
    }
}

@media screen and (min-width: 1200px) {

    .wbutton-group {
        top: 10%;
    }

    .wbutton-group__wrapper {
        grid-template-columns: 1fr 1fr 1fr;
    }
}

@media screen and (max-width: 600px) {
    .wbutton-group {
        top: 10%;
    }

    .wbutton-group__wrapper {
        grid-template-columns: 1fr 1fr;
    }
}

@media screen and (max-width: 300px) {
    .wbutton-group {
        top: 10%;
    }

    .wbutton-group__wrapper {
        grid-template-columns: 1fr 1fr;
    }
}
  