.App {
  height: 100%;
}

.main-page .top-menu {
  display: flex;
  justify-content: flex-end;
  height: 40px;
  padding: 5px;
}

.main-page .middle-menu {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  height: calc(100% - 40px - 10px);
}

.main-page .item-middle-menu {
  display: flex;
  margin-bottom: 10px;
  width: 400px;
  justify-content: center;
  align-items: center;

}


.item-middle-menu .wrap {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 40px;
  flex: 1;
  -webkit-flex: 1; /* Safari */
  -ms-flex: 1; /* IE 10 */
  height: -webkit-fill-available;
  max-height: 30%;
}

.item-middle-menu .wrap .MuiSvgIcon-root{
  font-size: 10.1875rem;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.MuiButton-root {
  color: inherit !important;
}